.checkout-title{
  display:flex;
  align-items: center;
  margin-left:3%;
}

.checkout-logo{
   height:150px;
   width:150px;
}

.checkout-quantity{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 35px;
  margin-left:490px;
  font-variant: normal;
  color:rgb(51, 89, 177)
}

.delivery-section-grid{
  display:grid;
  height: 380px;
  width:750px;
  margin-left:20px;
  grid-template-columns: 300px 300px;
  border:2px solid black;
  box-shadow: 5px 5px 10px rgba(85, 27, 27, 0.5);
  margin-bottom:10px;
}


.inline-element{
   display:flex;
}

.delivery-date{
   display: flex;
   flex-direction: column;
   margin-left:72px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: 600;
   color: rgb(2, 110, 2);
}

.radio-circle{
   transform:scale(1.5);
}

.delivery-option-date{
  margin-top:15px;
  margin-left:9px;
  font-size:25px;
}
.delivery-option-shipping-charge{
   font-size:15px;
   margin-left:20px;
   font-weight: 400;
   color:rgb(21, 21, 85);
}

.item-image-detail{
   margin-top:2px;
   margin-left:5px;
   height:180px;
   aspect-ratio: 3/2;
   object-fit: cover;
   cursor:pointer;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.item-name{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-style: normal;
  margin-left:5px;
  overflow-wrap: break-word;  /* Allow breaking long words */
  word-wrap: break-word;      /* Backward compatibility for older browsers */
  width: 100%;                /* Ensures it fits within the container */
  text-align: start;         /* Optional: Centers the text */
  color:rgb(3, 30, 54);
  font-size: 20px;
}

.item-price-and-quantity{
  display:flex;
  align-content: space-between;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;;
  font-weight: 600;
  color:rgb(22, 94, 28);
  margin-left:10px;
  margin-top:5px;
  margin-bottom:15px;
}

.remove-item{
  height:40px;
  margin-left:100px;
  width:100px;
  border:none;
  border-radius: 2px;
  background-color: rgb(211, 9, 9);
  color:aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  cursor:pointer;
  font-weight: 300;
}

.js-delivery-date{
  height:50px;
  width:280px;
  font-family: 'Times New Roman', Times, serif;;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: rgb(95, 107, 11);
}

.delivery-and-payement-section-grid{
   display:flex;
   height:100vh;
}

.payement-section{
   height:70%;
   box-shadow: 5px 5px 10px rgba(59, 42, 42, 0.5);
   margin-left:80px;
   width:36%;
}


.order-summary-payement{
   display:grid;
   grid-template-rows: 50px 50px 50px 50px 50px;
   justify-content:space-between;
}



.items-grid{
  display: flex;
  align-items: self-start;
  justify-content:space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 600;
  color:rgb(10, 64, 4)
}

.price{
  margin-left:5px;
  margin-right:220px;
}

.price-border,.total-before-tax{
  margin-left:5px;
  border-top:2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height:30px;
}

.choose-duration{
   margin-top:20px;
   margin-left:30px;
}

.checkout-items,.order-summary{
  border-bottom:2px solid rgb(122, 177, 12);
  height:50px;
  width:280px;
  font-family: 'Times New Roman', Times, serif;;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: rgba(74, 135, 5, 0.845);
  margin-left:5px;
  margin-top:5px;
}

.place-your-order{
    margin-top:10px;
    border:none;
    margin-left:65px;
    height:50px;
    width:350px;
    background-color:rgb(233, 233, 29);
    color: black;
    font-family: 'Times New Roman', Times, serif;;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    border-radius: 10px;
    cursor:pointer;
}

