body{
  background-color: aliceblue;
}
.product-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin-top:70px;
  margin-left:30px;
  justify-content: space-around;
  z-index:0;
}

.item-container{
  border-right:1px solid rgb(46, 118, 107);
  width:320px;
  height:400px;
}

.product-image-css { 
  height: 200px;
  width: 300px;
  cursor: pointer;
  border:1px solid black;
  top: -50px; 
  left: -35px; 
  display: block; 
  z-index: 999; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer; 
  transition: all 0.3s ease; /* Standard property */
  -webkit-transition: all 0.3s ease; /* Webkit fallback */
}


.product-image :hover{
   transform:scale(1.2);
   border:2px;
   border-radius:5px;
   animation: forwards;
}

.rating-css{
  background: none;
  height:50px;
  width:140px;
}

.rating-section {
  display: flex;
  align-items: center; /* Vertically centers the content */
}

.product-rating {
  margin-right:70px; /* Adds some space between the image and the number */
}

.rated-people {
  font-size: 30px; /* Adjust font size if needed */
}

.product-detail {
  display: flex;
  align-items: center;
  flex-direction: row; /* Optional: stack product-name and product-price vertically */
}

.product-name {
  overflow-wrap: break-word;  /* Allow breaking long words */
  word-wrap: break-word;      /* Backward compatibility for older browsers */
  width: 50%;                /* Ensures it fits within the container */
  text-align: start;         /* Optional: Centers the text */
}


.product-price{
   margin-left:50px;
   height:50px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 700;
}

.button-margin{
   margin-left:90px;
}

.rent-button{
   height:50px;
   width:150px;
   font-weight:600;
   background-color: rgb(155, 217, 31);
   border:none;
   border-radius:15px;
   cursor:pointer;
   box-shadow: 0 8px 16px 0 rgba(64, 179, 6, 0.849), 0 6px 20px 0 rgba(48, 140, 150, 0.832);
}

.rent-button:hover{
     transform:scale(1.2);
      cursor: pointer;
      top: -50px; 
      left: -35px; 
      display: block; 
      z-index: 999; 
      cursor: pointer; 
      transition: all 0.3s ease; /* Standard property */
      -webkit-transition: all 0.3s ease; /* Webkit fallback */
}

.item-container{
  margin-bottom: 20px;
}
